MONGO_URI=*****************************************************                               
JWT_SECRET=*****************************************************
GOOGLE_CLIENT_ID=*****************************************************
GOOGLE_CLIENT_SECRET=*****************************************************
GOOGLE_REFRESH_TOKEN=*****************************************************
GOOGLE_USER=*****************************************************
GOOGLE_APP_PASSWORD=*****************************************************
GOOGLE_API_KEY=*****************************************************
MISTRAL_API_KEY=*****************************************************
TAVILY_API_KEY=*****************************************************
